# Sentiment Analysis

## Connect to Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

##Import libraries

In [2]:
import re
import pandas as pd

##Import and explore data

In [3]:
data = pd.read_csv('gdrive/MyDrive/Colab Notebooks/Sentiment-Analysis/data/sentiment.csv', encoding = "latin-1")
data.head()

   0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0  0  ...  is upset that he can't update his Facebook by ...
1  0  ...  @Kenichan I dived many times for the ball. Man...
2  0  ...    my whole body feels itchy and like its on fire
3  0  ...  @nationwideclass no, it's not behaving at all....
4  0  ...                      @Kwesidei not the whole crew

[5 rows x 6 columns]

We need to rename the columns and we can get rid of all the useless data. To build our sentiment analysis model, we only need the text and the sentiment columns.

In [4]:
data.columns = ['Sentiment', 'ids', 'Date', 'Flag', 'User', 'Text']
data.drop(['ids', 'Flag', 'Date', 'User'], axis=1, inplace=True)
data = data.sample(frac=1) # shuffle the data
data.head()

         Sentiment                                               Text
1110864          4  @xftskatie  I HAVE BEEN LOOKING FOR MORE OF THOSE
707093           0                    @Volcompunk I hear that. &lt;3
994109           4  MySpace player just hit 10,000 plays! Thanks t...
1414484          4  @d_tw they don't let you in without the dressc...
103080           0  Partly jealously lol, as I have two economics ...

In [5]:
data['Sentiment'].value_counts()

4    800000
0    799999
Name: Sentiment, dtype: int64